*{
    margin: 0;
}
.body-color{
    background-color:#66f88f;
}
#main{
    text-align: center;
    padding-top: 50px;
}
input[type='text']{
    width: 30%;
    padding: 10px;
    border: 2px solid ;
    margin-bottom: 5px;
    margin-top: 10px;
}
input[type='submit']{
    width: 30%;
    padding: 10px;
    border: 2px solid black;
    background: black;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
    
}

