.box{
    background-color: black; ; 
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
    max-width: 50%;
}
.container{
    text-align: center;
    
}
h2{
    color: #f8d166;
    font-family: 'Sanserif';

}
@font-face{
    font-family: 'Lilita';
    src: url("{% static 'fonts/LilitaOne-Regular.ttf'%}");
}
h1{
    font-family: 'Lilita';
}
input[type='text']{
    width: 30%;
    padding: 10px;
    margin-bottom: 5px;
    margin-top: 10px;
    border-radius: 10px;
}

*{
    margin: 0;
}
#main{
    text-align: center;
    padding-top: 50px;
}

input[type='submit']{
    width: 30%;
    padding: 10px;
    border: 2px solid black;
    background: black;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 10px;
    
}